@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Old+Standard+TT:400,400i,700|Open+Sans+Condensed:300,300i,700|Oswald:200,300,400,500,600,700|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=greek,latin-ext');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #669;
  font-weight: 600;
}

body {
    max-width: 710px;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;    
}

h1, h2, h3, h4, h5, h6 {
    // margin: 0 auto;
    //display: block;

    font-family: 'Open Sans Condensed', sans-serif;
    // max-width: 720px;
    // width: 100% !important;
}

table {
  color: #333; /* Lighten up font color */
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  max-width: 720px;
  width: 100% !important;
}

td, th {
  border: 1px solid #CCC;
  height: 30px;
  padding: 0 7px;
} /* Make cells a bit taller */

th {
  background: #F3F3F3; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
}

td {
  background: #FAFAFA; /* Lighter grey background */
  //text-align: center; /* Center our text */
}

#TOC:before {
  font-family: 'Inconsolata', monospace;
  content: 'Contents';
  display: block;
  border: 1px solid #ccc;
}

#TOC {
  /width: 300px;
  float: right;
  border: 1px solid #ccc;

}

#TOC a {

}

h2, h3, h4, h5, h6, table {
  clear: both;
}

code, pre {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}
